chapter 08/08_06_nodered_gpio.json
[{"id":"6b88c307.7dde6c","type":"tab","label":"09-06_nodered_gpio","disabled":false,"info":""},{"id":"27bbd25b.c26c76","type":"inject","z":"6b88c307.7dde6c","name":"one second pulse","topic":"","payload":"1","payloadType":"num","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":40,"wires":[["f9b364c5.748048"]]},{"id":"52ce11cb.8df068","type":"rpi-gpio in","z":"6b88c307.7dde6c","name":"Reset Button","pin":"5","intype":"down","debounce":"25","read":true,"x":90,"y":180,"wires":[["9dded790.ac619","c5e96d.6b17e69"]]},{"id":"a602fe94.e218d","type":"rpi-gpio out","z":"6b88c307.7dde6c","name":"LED 2^0","pin":"40","set":true,"level":"0","freq":"","out":"out","x":540,"y":180,"wires":[]},{"id":"d2c4c16b.8fb208","type":"rpi-gpio out","z":"6b88c307.7dde6c","name":"LED 2^1","pin":"38","set":true,"level":"0","freq":"","out":"out","x":540,"y":240,"wires":[]},{"id":"493282ae.ac1d84","type":"rpi-gpio out","z":"6b88c307.7dde6c","name":"LED 2^2","pin":"36","set":true,"level":"0","freq":"","out":"out","x":540,"y":300,"wires":[]},{"id":"4346efa2.3cf99","type":"rpi-gpio out","z":"6b88c307.7dde6c","name":"LED 2^3","pin":"37","set":true,"level":"0","freq":"","out":"out","x":540,"y":360,"wires":[]},{"id":"f9b364c5.748048","type":"counter","z":"6b88c307.7dde6c","name":"","init":"0","step":"1","lower":"","upper":"16","mode":"increment","outputs":2,"x":120,"y":100,"wires":[["8d6c6a1b.df3818","2df298d2.544e18"],[]]},{"id":"8d6c6a1b.df3818","type":"switch","z":"6b88c307.7dde6c","name":"count > 15?","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"15","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":100,"wires":[["a51fcf75.69ddb8"]]},{"id":"a51fcf75.69ddb8","type":"change","z":"6b88c307.7dde6c","name":"reset = true","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":100,"wires":[["f9b364c5.748048"]]},{"id":"2df298d2.544e18","type":"function","z":"6b88c307.7dde6c","name":"bitmask","func":"function testbit(bitmask) {\n    if (msg.payload & bitmask) {\n        return 1;\n    } else {\n        return 0;\n    }\n}\n\nmsg1 = { payload:testbit(0b0001) };\nmsg2 = { payload:testbit(0b0010) };\nmsg3 = { payload:testbit(0b0100) };\nmsg4 = { payload:testbit(0b1000) };\n\nreturn [msg1, msg2, msg3, msg4];\n","outputs":4,"noerr":0,"x":360,"y":280,"wires":[["a602fe94.e218d"],["d2c4c16b.8fb208"],["493282ae.ac1d84"],["4346efa2.3cf99"]]},{"id":"9dded790.ac619","type":"trigger","z":"6b88c307.7dde6c","op1":"1","op2":"0","op1type":"num","op2type":"str","duration":"-1","extend":false,"units":"ms","reset":"1","bytopic":"all","name":"reset while held","x":160,"y":240,"wires":[["a51fcf75.69ddb8"]]},{"id":"c5e96d.6b17e69","type":"trigger","z":"6b88c307.7dde6c","op1":"15","op2":"0","op1type":"num","op2type":"str","duration":"-1","extend":false,"units":"ms","reset":"1","bytopic":"all","name":"lights while held","x":160,"y":280,"wires":[["2df298d2.544e18"]]}]